 @media only screen and (max-width: 599px){
    .contador {
        font-size: 50px;
        margin: auto;
    }
    .cronometrador {
        font-size: 70px;
        margin: auto;
    }
 }
 
 /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    #section_principal {
        width: 425px;
        height: 39vh;
        margin: auto;
        font-size: 1.2em;
    }

    .contador {
        font-size: 70px;
        margin: auto;
    }
    .cronometrador {
        font-size: 90px;
        margin: auto;
    }

    .botao_comecar_ou_pausar {
        width: 200px;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    #section_principal {
        width: 550px;
        height: 41vh;
        margin: auto;
    }

    .contador {
        font-size: 80px;
        margin: auto;
    }
    .cronometrador {
        font-size: 100px;
        margin: auto;
    }

    .botao_comecar_ou_pausar {
        width: 200px;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    #section_principal {
        width: 720px;
        height: 43vh;
        margin: auto;
    }

    #contador {
        margin: auto;
        font-size: 80px;
    } 

    .botao_comecar_ou_pausar {
        width: 200px;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    #section_principal {
        width: 720px;
        height: 43vh;
        margin: auto;
    }

    #contador {
        margin: auto;
        font-size: 80px;
    } 

    .botao_comecar_ou_pausar {
        width: 200px;
    }
  }


