 /* :root{
    --cor-um: #60A4BD;
    --cor-dois: #627F8A;
    --cor-tres: #49C3EF;
    --cor-quatro: #4D5457;
    --cor-cinco: #232F33;
} */

:root {
    --neon1: #222831;
    --neon2: #393E46;
    --neon3: #FFD369;
    --neon4: #EEEEEE;
}

body{
    height: 100vh;
    font-family: 'DM Sans', sans-serif;
}
strong{
    font-weight: 500;
}
hr {
    width: 75%;
    margin: 2em auto;
    border: 2px solid black;
}


#titulo{
    font-size: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar{
    height: 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#navbar_div_principal{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#configurar_tempo{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section_add_tarefas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2em;
    width: 70%;
    margin: auto;
}
#adiona_tarefa{
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
    width: 70%;
    margin: auto;
}

#section_principal{
    width: 70%;
    height: 45vh;
    margin: auto;
    border: 1px solid black;
    background-color: var(--cor-quatro);
    color: var(--cor-tres);
}
#lista {
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}
#contador{
    font-size: 7em;
    text-align: center;
}

#tempo_config{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

#section_tarefas{
    background-color: transparent;
}

#div_contador{
    margin: 2em auto;
}

.navbar_div{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.titulo_secondaria_navbar{
    font-size: 1.5em;
    padding: 0.3em;
    color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.divisao_tarefas{
    display: block;
    margin: auto;
    border: 1px solid black;
}
.item_lista{
    font-size: 1.25em;
    font-weight: 400;
    cursor: pointer;
}
.botao_adicionar_tarefa{
    padding: 1em;
    width: 75%;
    margin: 0 auto;
    outline: none;
    background-color: var(--cor-tres);
    color: #212628;
    text-transform: uppercase;
    border: 1px dashed black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.adicionar_tarefa{
    text-align: center;
    margin-top: 1.5em;
}

.tarefa{
    width: 75%;
    height: fit-content;
    display: flex;
    background-color: var(--cor-cinco);
    margin: 20px auto;
    padding: 1em;
    font-size: 1.5em;
    border: 2px solid #212628;
    color: var(--cor-tres);
}

.div_icone{
    text-align: center;
    width: 10%;
    cursor: pointer;
}
.div_nome{
    width: 75%;
}
.div_lixeira{
    width: 15%;
    text-align: center;
    cursor: pointer;
}

.hidden {
    display: none;
}

.div_botao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contador {
    cursor: pointer;
}

.botao_comecar_ou_pausar{
    padding: 0.7em 1em;
    width: 40%;
    height: 60px;
    margin-left: 2em;
    outline: none;
    background-color: var(--neon1);
    color: white;
    text-transform: uppercase;
    border: 0;
    border-radius: 2px;
}

.botao_comecar_ou_pausar:hover{
    box-shadow: 0px 4px 4px 3px #393E46;
    transition: all 200ms;
}

.titulo_comecar_ou_pausar{
    font-size: 1.5em;
}

.botao_reset{
    font-size: 2.5em;
    border: 0;
    background: transparent;
}

.nome_da_tarefa{
    width: 45%;
    height: 250px;
    text-align: center;
    border: 2px solid #212628;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 100px solid #393E46;

}

.active{
    background-color: #393E46;
    color: #EEEEEE;
    padding: 0.3em 0.5em;
}

.nome_tarefa{
    outline: none;
    border: none;
}
.botao_salvar_nome_tarefa{
    padding: 0.5em;
    margin-left: 2em;
    outline: none;
    background-color: var(--neon1);
    color: white;
    text-transform: uppercase;
    border: 0;
    height: 50px;
}

@keyframes giro-completo{
    0% {rotate: 0deg}
    25% {rotate: 90deg}
    50% {rotate: 180deg}
    75% {rotate: 270deg}
    100% {rotate: 360deg}
}
.botao_reset:hover{
    animation-name: giro-completo;
    animation-duration: 0.5s;
    animation-direction: reverse;
    animation-timing-function: ease-out;

}

.bi-plus-square{margin-left: 10px;}
.bi-list{color: #212628; cursor: pointer;}
.bi-arrow-counterclockwise{color: black;}


.botao_comecar_ou_pausar:focus{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

